.section3 {
    background: linear-gradient(180deg, rgba(239, 200, 127, 1) 0%,
            rgba(75, 75, 75, 1) 50%);


    .box {
        border: 1px solid #ffffff50;
        background: #00000080;
        width: 242px;
        height: 198px;
        border-radius: 24px;
        position: absolute;
        top: 0;
        left: 0;
        padding: 24px;
    }
}