@import url("./global.scss");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.poc {
    max-width: 100vw;
    // overflow-x: hidden;
}

.Demo {
    position: relative;
    overflow: hidden;

    .heading {
        margin-top: 15px;
        font-family: "Circular Std";
        font-size: 120px;
        font-weight: 700;
        line-height: 160px;
        letter-spacing: -0.02em;
        text-align: center;
    }

    .subheading {
        margin-top: 510px;
        font-family: "Circular Std";
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0.03em;
        text-align: center;

    }
}

.section {
    width: 100vw;
    height: 100vh;

    &.section1 {
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            // opacity: 0.8;
            // background: url(https://source.unsplash.com/random);
            background-image: url("./assets/bg2.svg");
            background-size: cover;
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

    }
}

.boy-svg {
    z-index: 1000;
}

.girl-svg {
    z-index: 1001;
}

.section2,
.section3 {
    position: relative;

    .box {
        border: 1px solid #ffffff50;
        background: #00000080;
        width: 242px;
        height: 198px;
        border-radius: 24px;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.section2 {
    background-color: #ffffff50;
}